---
layout: owaspsite
title: OWASP
---    
<title>OWASP</title>
  <div class="hero flex-center">
    <div class="hero-message">
      <div class="hero-div">
        <h1 class="hero-title">{{site.data.hero-message.Title}}</h1>
        <p class="hero-paragraph">
          {{site.data.hero-message.Message}}
      </div>
    </div>
  </div>
<div class="highlight-container">
  <div class="highlight">
    <div class="flex-center">
      <img src="https://tangsoodo.github.io/Owasp-Site-Theme/media/join_owasp.png"/>
    </div><br/>
    <div class="flex-center highlight-text">
      <strong>Become a Member</strong>
    </div>
  </div>
  <div class="highlight">
    <div class="flex-center">
      <img src="https://tangsoodo.github.io/Owasp-Site-Theme/media/sponsor_owasp.png"/>
    </div><br/>
    <div class="flex-center highlight-text">
      <strong>Become a Sponsor</strong>
    </div>
  </div>
  <div class="highlight">
    <div class="flex-center">
      <img src="https://tangsoodo.github.io/Owasp-Site-Theme/media/register_conference.png"/>
    </div><br/>
    <div class="flex-center highlight-text">
      <strong>Register for Tel Aviv</strong>
    </div>
  </div>
  <div class="highlight">
      <div class="flex-center">
        <img src="https://tangsoodo.github.io/Owasp-Site-Theme/media/owasp_projects.png"/>
      </div><br/>
      <div class="flex-center highlight-text">
        <strong>OWASP Projects</strong>
      </div>
  </div>
  <div class="highlight">
      <div class="flex-center">
        <img src="https://tangsoodo.github.io/Owasp-Site-Theme/media/owasp_chapters.png"/>
      </div><br/>
      <div class="flex-center highlight-text">
        <strong>OWASP Chapters</strong>
      </div>
  </div>
</div>
  <!--<section id="URLS">
    <hr/>
    {% for repository in site.github.public_repositories %}
      <a href=https://tangsoodo.github.io/{{repository.name }}>{{ repository.name }}</a><br/> 
    {% endfor %}
  </section>
  
  <hr/>
  <section id="Project About">
    <h3>Project About</h3>
    <hr/>
    <p>License: {{ site.data.project-data.license }}</p>
    <div>Releases:</div>
    <div style="margin-left:24px;float:left;">
      {% for release in site.data.project-data.releases %}
      Version: {{ release.version }}<br>
      Description: {{ release.description }}<br>
      {% endfor %}
    </div>
  </section> -->
